.Home {
    background-color: rgb(75, 139, 59);
    min-height: 40vh;
    color: rgb(255, 255, 255);
    padding: 30px;
    height: 70vh;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}



.NoteList {
    padding-top: 50px;
}

.NoNotesFound {
    font-size: 2vh;
    padding-top: 5vh;
    font-weight: 100;
    color: rgb(192, 200, 207);
}

.Note {
    padding: 70px 0px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.NoteContent {
    cursor: default;
}

.DelIcon {
    color: rgba(43, 43, 43);
    padding: 0;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.DelIcon:hover {
    color: rgb(255, 217, 0);
}

.Note:hover {
    box-shadow: 1px 1px 20px rgb(32, 32, 32);
}

.AddBtn {
    background-color: rgb(255, 217, 0);
    height: 25px;
    width: 55px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
}

.AddBtn:hover {
    border: 3px solid rgb(255, 217, 0);
}
.AddNewPatientBtn, .CreateAssessmentButton, .GetNoteButton {
    background-color: rgb(255, 217, 0);
    height: 30px;
    width: 130px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
}

.AddNewPatientBtn:hover {
    color: rgb(0,0,0);
    border: 2px solid rgb(0,0,0);
}
.HomePatients {
    padding-bottom: 20px;
    text-align: center;
}
.Patient {
    font-size: 20px;
}
.patientsTable {
    border-collapse: collapse;
    width: 100%;
  }
  
 .patientsTable td, .patientsTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .patientsTable tr:nth-child(even){background-color:rgb(47, 87, 37);}
  
  .patientsTable tr:hover {background-color: rgb(62, 103, 52);}
  
  .patientsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;}
td {
    width: 20%;
}